*.err
*.out

*.exe
*.out
*.app
a.out

*.o
*.obj
*.so
*.dylib
*.dll
*.lib
*.a

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled runable files
task1
task2
task3
msort
matmul
convolution
